/*TIPOGRAFIA*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'kooky';
    src: url("../font/Kooky-Cloud/Hello-KookyCloud.otf");
    font-weight: normal;
    font-size: normal;
}


:root{
    /*PALETA DE COLORES*/
    --rosa-energy: #ff4081;
    --morado-uva: #62329f;
    --turquesa-fosforecente: #02bcd5;
    --crema-vainilla: #fbf4e4;
    --crema-frutilla: #ffcedf;
    --negro: #261a0a;

    /*ESPACIADORES */
    --padding-1:14px;
    --padding-2:42px; /*3 x padding-1*/ 
    --gap-1:10px;

    /*ESCALA TIPOGRAFICA*/
    --h1:40px;
    --h2:33px;
    --h3:28px;
    --p:16px;
    --sm:12px;
    --xsm:9px;

    --san-serif: "Poppins", san-serif;
          
}

/* RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


/*CABECERA*/

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--rosa-energy);
    color: var(--crema-vainilla);
    padding: var(--padding-1);
}

header h1 a{
    color: var(--crema-vainilla);
    text-decoration: none;

}

header nav{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*gap: 15px;*/
}

header nav ul{
    display: flex;
    list-style: none;
    gap: var(--gap-1);
       
}

header nav ul li a{
    color: var(--crema-vainilla); 
    background: var(--rosa-energy);
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: var(--padding-1);
    border: 3px solid var(--negro);
    transition: transform 0.2s ease;
    box-shadow: 0.2s ease;

}

header nav ul li a:hover{
    transform: translate(-3px, -3px);
    box-shadow: 7px 7px  0 var(--negro);
}

/*BODY*/

body{
    background-color: var(--crema-vainilla);
    font-family: 'Poppins', sans-serif;

}

h1{
    font-family: var(--san-serif);
    font-size: var(--h1);
    font-weight: 700;
}
h2{
    font-family: var(--san-serif);
    font-size: var(--h2);
    font-weight: 700;
}
h3{
    font-family: var(--san-serif);
    font-size: var(--h3);
    font-weight: 500;
}
p{
    font-family: var(--san-serif);
    font-size: var(--p);
    font-weight: 400;
    max-width: 700px;
    margin: 0 auto 20px auto;
    font-size: 1.1rem;
    line-height: 1.6;
}

.sm{
    font-family: var(--san-serif);
    font-size: var(--sm);
    font-weight: 400;
    text-transform: uppercase;
}
.xsm{
    font-family: var(--san-serif);
    font-size: var(--sm);
    font-weight: 400;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: 700;
}




.contenedor{
    width: 100%;
    margin: 0 auto;
    background-color: var(--crema-frutilla);
}


.hero{
    background-color: var(--rosa-energy);
    color: var(--negro);
    padding: 100px 20px;
    text-align: center;
    border-bottom: 6px solid #000;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.figura {
    position: absolute;
    opacity: 0.9;
    z-index: 1;
}

.cuadrado{
    top: 20px;
    left: 40px;
    width: 80px;
    height: 80px;
    background: var(--morado-uva);
    border: 4px solid var(--negro);
    box-shadow: 6px 6px 0 var(--negro);
}

.circulo{
    top: 60px;
    left: 60px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #2196f3;
    border: 4px solid #000;
    box-shadow: 6px 6px 0 #000;
}

.rectangulo{
    bottom: 30px;
    left: 20%;
    width: 140px;
    height: 70px;

}

.hero h1{
    
    font-size: 100px;
    line-height: 1.1;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    background: #fff;
    color: #000;
    display: inline-block;
    padding: 15px 25px;
    border: 5px solid #000;
    box-shadow: 6px 6px 0 #000; /*el la sombrita XD*/
    font-family: 'kooky';
}

.hero p{
    font-size: 1.3rem;

    max-width: 600px;
    margin: 20px auto;
    color: #fffbe7;

}

.btn-hero{
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    background: #ffeb3b;
    border: 4px solid #000;
    transition: transform 0,2s ease;

}

.btn-hero:hover{
    transform: translate(-3px, -3px);
    box-shadow: 7px 7px 0 #000;
}



/*SOBRE MI*/

.sobre_mi{

}

.sobre_mi h1{
    text-align: center;
}

.sobre_mi p{
    text-align: center;
}




/*CHISPAS*/

.hobbies{
    background-color: var(--morado-uva);
    padding-bottom: 20px;

}







/*CREACIONES*/


.portafolio{
    background: var(--rosa-energy);
    padding: 60px 20px;
    text-align: center;
}

.portafolio h2{
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: var(--negro);
}

.portafolio p{
    max-width: 300px;
    margin: 0 auto 40px auto;
    font-size: 1.1rem;
    color: var(--negro);
}

.card-contenedor{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card{
    background-color: var(--crema-frutilla);
    display: inline-block;
    padding: 15px 25px;
    border: 5px solid #000;
    transition: transform 0.3s ease; 
    /*box-shadow: 0.3s ease; el la sombrita XD*/
}

.card:hover{
    transform: translate(-8px);
    box-shadow: 25px 12px 0px var(--negro);
}






/*FAN MODE*/










/*CONTACTOS*/